# Imports

In [55]:
import pandas as pd
import numpy as np
import psycopg2
import pandas as pd
import pandas.io.sql as psql
from sqlalchemy import create_engine, text
import yaml
from pathlib import Path
import os

project_dir = Path('__main__').resolve().parent.parent

# Conexão com ElephantSQL

In [56]:
#db_params = yaml.safe_load(open(os.path.join(project_dir, 'src', 'data', 'config', 'postgresql_config.yaml'), 'rb'))
db_params = {
    'host': 'silly.db.elephantsql.com',
    'database': '********',
    'user': '********',
    'password': '********'
}

In [57]:
#Criando conexão
conn = psycopg2.connect(
    host=db_params['host'],
    database=db_params['database'],
    user=db_params['user'],
    password=db_params['password']
)

# Criação de Tabela

In [14]:
# Create a cursor object
cur = conn.cursor()

# Set automatic commit to be true, so that each action is committed without having to call conn.committ() after each command
conn.set_session(autocommit=True)

In [ ]:
# Criar tabela
cur.execute('''
    CREATE TABLE phishing_data (
        id SERIAL PRIMARY KEY,
        url_length INTEGER,
        n_dots FLOAT,
        n_hypens FLOAT,
        n_underline FLOAT,
        n_slash FLOAT,
        n_questionmark FLOAT,
        n_equal FLOAT,
        n_at FLOAT,
        n_and FLOAT,
        n_exclamation FLOAT,
        n_space FLOAT,
        n_tilde FLOAT,
        n_comma FLOAT,
        n_plus FLOAT,
        n_asterisk FLOAT,
        n_hastag FLOAT,
        n_dollar FLOAT,
        n_percent FLOAT,
        n_redirection FLOAT,
        phishing FLOAT
    );

''')

In [ ]:
#Fechando conexão, boa prática
cur.close()
conn.close()

# Inserção de Dados

In [58]:
#Definindo a engine do banco de dados
engine = create_engine(f'postgresql://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}/{db_params["database"]}')

In [59]:
# Lendo os dados
df = pd.read_csv(os.path.join(project_dir, 'data', 'raw', 'web-page-phishingValidate.csv')).drop(columns= 'Unnamed: 0')
df.head()

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,n_equal,n_at,n_and,n_exclamation,n_space,n_tilde,n_comma,n_plus,n_asterisk,n_hastag,n_dollar,n_percent,n_redirection,phishing
0,37,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,77,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,126,4.0,1.0,2.0,0.0,1.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,18,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,55,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
df.to_sql('phishing_data', engine, if_exists='replace', index=False)

77

# SQL

## Comandos

In [60]:
# Create a cursor object
cur = conn.cursor()

# Set automatic commit to be true, so that each action is committed without having to call conn.committ() after each command
conn.set_session(autocommit=True)

### SELECT, FROM, WHERE

In [61]:
query = '''
SELECT
  *
FROM PHISHING_DATA LIMIT 10
'''

In [62]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,n_equal,n_at,n_and,n_exclamation,n_space,n_tilde,n_comma,n_plus,n_asterisk,n_hastag,n_dollar,n_percent,n_redirection,phishing
0,37,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,77,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,126,4.0,1.0,2.0,0.0,1.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,18,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,55,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,32,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
6,19,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,81,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1256.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
8,42,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,104,1.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
query = '''
SELECT
  url_length,
  n_dots,
  n_hypens,
  n_underline,
  n_slash,
  n_questionmark,
  phishing
FROM PHISHING_DATA LIMIT 10
'''

In [64]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,phishing
0,37,3.0,0.0,0.0,0.0,0.0,0.0
1,77,1.0,0.0,0.0,0.0,0.0,1.0
2,126,4.0,1.0,2.0,0.0,1.0,1.0
3,18,2.0,0.0,0.0,0.0,0.0,0.0
4,55,2.0,2.0,0.0,0.0,0.0,0.0
5,32,3.0,1.0,0.0,0.0,0.0,1.0
6,19,2.0,0.0,0.0,0.0,0.0,0.0
7,81,2.0,0.0,0.0,0.0,0.0,1.0
8,42,2.0,0.0,0.0,0.0,0.0,0.0
9,104,1.0,10.0,0.0,0.0,0.0,0.0

In [65]:
query = '''
SELECT
  url_length,
  n_dots,
  n_hypens,
  n_underline,
  n_slash,
  n_questionmark,
  phishing
FROM PHISHING_DATA
WHERE url_length >= 1000
'''

In [66]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,phishing
0,1386,13.0,11.0,16.0,0.0,3.0,1.0
1,1386,13.0,11.0,16.0,0.0,3.0,1.0
2,1641,3.0,32.0,1.0,0.0,1.0,1.0
3,1221,12.0,2.0,2.0,2.0,0.0,1.0
4,1098,2.0,2.0,0.0,5.0,0.0,1.0
5,1962,1.0,0.0,0.0,44.0,0.0,1.0
6,4165,4.0,2.0,1.0,4.0,0.0,1.0
7,1307,3.0,1.0,0.0,11.0,0.0,1.0
8,1286,2.0,1.0,2.0,5.0,0.0,1.0

In [67]:
query = '''
SELECT
  url_length,
  n_dots,
  n_hypens,
  n_underline,
  n_slash,
  n_questionmark,
  phishing
FROM PHISHING_DATA
WHERE url_length >= 1000 AND n_slash > 0
'''

In [68]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,phishing
0,1221,12.0,2.0,2.0,2.0,0.0,1.0
1,1098,2.0,2.0,0.0,5.0,0.0,1.0
2,1962,1.0,0.0,0.0,44.0,0.0,1.0
3,4165,4.0,2.0,1.0,4.0,0.0,1.0
4,1307,3.0,1.0,0.0,11.0,0.0,1.0
5,1286,2.0,1.0,2.0,5.0,0.0,1.0

In [71]:
query = '''
SELECT
  url_length,
  n_dots,
  n_hypens,
  n_underline,
  n_slash,
  n_questionmark,
  phishing
FROM PHISHING_DATA
WHERE n_questionmark > 3 OR n_slash > 2
LIMIT 10
'''

In [72]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,url_length,n_dots,n_hypens,n_underline,n_slash,n_questionmark,phishing
0,223,5.0,0.0,1.0,3.0,0.0,1.0
1,81,4.0,0.0,2.0,5.0,0.0,1.0
2,46,2.0,0.0,0.0,3.0,0.0,0.0
3,58,1.0,0.0,0.0,3.0,0.0,1.0
4,45,2.0,2.0,0.0,4.0,0.0,1.0
5,213,3.0,0.0,1.0,5.0,0.0,1.0
6,81,4.0,1.0,0.0,5.0,0.0,1.0
7,44,4.0,1.0,0.0,3.0,0.0,1.0
8,64,2.0,4.0,0.0,5.0,0.0,0.0
9,70,3.0,1.0,0.0,5.0,0.0,1.0

### COUNT, AVG, SUM, MAX, GROUP BY, ORDER BY

In [81]:
query = '''
SELECT
  phishing,
  COUNT(url_length) as qtd_linhas
FROM PHISHING_DATA
GROUP BY phishing
'''

In [82]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

   phishing  qtd_linhas
0       1.0       35575
1       NaN        2002
2       0.0       62500

In [85]:
query = '''
SELECT
  phishing,
  COUNT(url_length) as qtd_linhas,
  AVG(url_length) as media_tamanho_url,
  SUM(url_length) as soma_tamanho_urls
FROM PHISHING_DATA
GROUP BY phishing
ORDER BY AVG(url_length)
'''

In [86]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

   phishing  qtd_linhas  media_tamanho_url  soma_tamanho_urls
0       0.0       62500          23.578016          1473626.0
1       NaN        2002          40.540959            81163.0
2       1.0       35575          66.507266          2365996.0

In [87]:
query = '''
SELECT
  phishing,
  COUNT(url_length) as qtd_linhas,
  AVG(url_length) as media_tamanho_url,
  SUM(url_length) as soma_tamanho_urls
FROM PHISHING_DATA
GROUP BY phishing
ORDER BY COUNT(url_length) DESC
'''

In [88]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

   phishing  qtd_linhas  media_tamanho_url  soma_tamanho_urls
0       0.0       62500          23.578016          1473626.0
1       1.0       35575          66.507266          2365996.0
2       NaN        2002          40.540959            81163.0

In [91]:
query = '''
SELECT
  phishing,
  n_hypens,
  COUNT(url_length) as qtd_linhas,
  AVG(url_length) as media_tamanho_urls,
  SUM(url_length) as soma_tamanho_urls,
  MAX(url_length) as tamanho_maximo_url
FROM PHISHING_DATA
WHERE n_hypens <= 2
GROUP BY phishing, n_hypens
ORDER BY COUNT(url_length) DESC
'''

In [92]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

,phishing,n_hypens,qtd_linhas,media_tamanho_urls,soma_tamanho_urls,tamanho_maximo_url
0,0.0,0.0,55552,21.292123,1182820.0,546
1,1.0,0.0,22884,55.649580,1273485.0,1962
2,1.0,1.0,8266,71.198040,588523.0,1307
3,0.0,1.0,4298,27.208004,116940.0,228
4,1.0,2.0,2240,92.696429,207640.0,4165
5,0.0,2.0,985,41.992893,41363.0,173

#

### CASE WHEN

In [93]:
query = '''
SELECT
  CASE WHEN URL_LENGTH < 100 then 'PEQUENA'
       WHEN URL_LENGTH < 400 then 'MEDIA'
       WHEN URL_LENGTH < 600 then 'GRANDINHA'
      ELSE 'GRANDE'
  END AS TAMANHO_URL,
  URL_LENGTH,
  PHISHING
FROM PHISHING_DATA
LIMIT 10
'''

In [94]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

  tamanho_url  url_length  phishing
0     PEQUENA          37       0.0
1     PEQUENA          77       1.0
2       MEDIA         126       1.0
3     PEQUENA          18       0.0
4     PEQUENA          55       0.0
5     PEQUENA          32       1.0
6     PEQUENA          19       0.0
7     PEQUENA          81       1.0
8     PEQUENA          42       0.0
9       MEDIA         104       0.0

## Exemplos

In [24]:
# Create a cursor object
cur = conn.cursor()

# Set automatic commit to be true, so that each action is committed without having to call conn.committ() after each command
conn.set_session(autocommit=True)

In [95]:
# Verificando quantas linhas tenho na minha tabela, quantidade de links de
#phishing e o percentual total de links de phishing na minha tabela
query = '''
SELECT
  COUNT(*) AS QTD_LINHAS,
  SUM(PHISHING) AS QTD_LINKS_PHISHING,
  AVG(PHISHING) AS PERC_LINKS_PHISHING
FROM PHISHING_DATA
'''

In [96]:
df_result = psql.read_sql(query, conn)

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1564066013.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

In [97]:
df_result

   qtd_linhas  qtd_links_phishing  perc_links_phishing
0      100077             35575.0             0.362733

In [98]:
# Verificando quantidade de phishings e percentual baseado no tamanho da url
query = '''
SELECT
  URL_LENGTH,
  COUNT(*) AS QTD_LINHAS,
  SUM(PHISHING) AS QTD_PHISHING,
  AVG(PHISHING) AS PERC_PHISHING
FROM PHISHING_DATA
GROUP BY URL_LENGTH
'''

In [100]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

     url_length  qtd_linhas  qtd_phishing  perc_phishing
0           938           1           1.0       1.000000
1           184           6           6.0       1.000000
2            87         136         108.0       0.812030
3           477           2           2.0       1.000000
4           273           9           9.0       1.000000
..          ...         ...           ...            ...
485         536           1           1.0       1.000000
486         449           1           1.0       1.000000
487          64         500         412.0       0.839104
488          55         485         353.0       0.752665
489         148          32          32.0       1.000000

[490 rows x 4 columns]

In [101]:
# Agrupando o tamanho das url em pequenas, médias e grandes, e verificando as métricas
query = '''
SELECT
  CASE WHEN URL_LENGTH < 100 then 'PEQUENA'
       WHEN URL_LENGTH < 400 then 'MEDIA'
      ELSE 'GRANDE'
  END AS TAMANHO_URL,
  COUNT(*) AS QTD_LINHAS,
  SUM(PHISHING) AS QTD_PHISHING,
  AVG(PHISHING) AS PERC_PHISHING
FROM PHISHING_DATA
GROUP BY 1
ORDER BY COUNT(*)
'''

In [102]:
df_result = psql.read_sql(query, conn)
df_result

C:\Users\diego\AppData\Local\Temp\ipykernel_20224\1607457878.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_result = psql.read_sql(query, conn)

  tamanho_url  qtd_linhas  qtd_phishing  perc_phishing
0      GRANDE         149         141.0       0.959184
1       MEDIA        5878        5288.0       0.920613
2     PEQUENA       94050       30146.0       0.327020

## Pra vocês praticarem

Links de apoio: 
* https://learnsql.com/blog/sql-basics-cheat-sheet/
*

## Dataset de Fraude

Utilize somente SQL para responder as perguntas abaixo


*   Qual o total de transações, total de transações fraudulentas e percentual de transações fraudulentas tem na sua tabela?
*   Qual os top 10 estabelecimentos com maior concentração de transações fraudulentas?
*   Em quais cidades estão concentrados 90% de todas as fraudes da sua tabela?
*   Qual número de conta tem mais transações fraudulentas? E qual número de conta tem a maior soma de valor de fraude?
*   Qual o total de transações, total de transações fraudulentas e percentual de transações fraudulentas por horários do dia?
*   Quais são os três meses com o maior número de transações?
*   Quais são os cinco tipos de categoria de transação que têm o maior número de transações fraudulentas?
*   Existem transações duplicadas na sua tabela? Se sim quantas?
*   Quais os top 10 clientes que sofreram fraude em mais meses diferentes?
*   Quais os empregos que concentram 50% de todas as fraudes da sua tabela?

## Dataset de Churn

Utilize somente SQL para responder as perguntas abaixo


*   Qual o total de clientes, total de clientes que realizaram churn e percentual churns tem na sua tabela?
*   Qual os top 2 paises com maior concentração de churn?
*   Em quais paises estão concentrados 90% de todos os clientes que tiveram churn?
*   Qual a idade média e o balanço médio dos clientes que tiveram churn?E dos que não tiveram?
*   Qual o total de clientes, total de churns e percentual de churn para as três faixas de renda a seguir [0-1000); [1000-3500); [3500-infinito)?
*   Qual o percentual de churn por faixas de idade?
*   Qual a mediana, p75, p90 e p99 da renda dos clientes que realizam churn?
*   O Score de Crédito é uma boa variavel para predizer a probabilidade do churn?
*   Acumulando a idade a partir de 18 anos, com quantos anos temos 50% de churn da sua tabela?

# Problemas do Coração
* Qual é a quantidade de pessoas em cada categoria de saúde geral?
* Quantas pessoas tiveram check-ups nos últimos 2 anos e quantas não tiveram?
* Qual é a média do índice de massa corporal para cada faixa etária?
* Quais são as diferentes combinações de histórico de tabagismo e consumo de álcool e qual a quantidade de pessoas e quantidade de pesssoas que tiveram um ataque do coração nessas combinações?
* Qual é o número de pessoas em cada faixa de consumo de frutas que também consomem vegetais verdes?
* Qual é o número total de pessoas e o total de pessoas que tiveram um ataque do coração que têm histórico de depressão e histórico de diabetes?
* Quais são as faixas etárias com o maior número de pessoas que relatam histórico de doença cardíaca?
* Qual é o consumo médio de batatas fritas para cada categoria de saúde geral?
* Quais são os valores únicos de índice de massa corporal entre as pessoas do sexo masculino?
* Existem duplicadas na sua tabela? Se sim quantas linhas?

# Acidentes de Transito
* Quantos acidentes ocorreram em cada dia da semana?
* Qual é o número total de acidentes em que estavam envolvidos veículos de transporte público?
* Qual é a contagem de acidentes em que o veículo tinha algum defeito e o acidente resultou em lesão grave?
* Qual é a distribuição de acidentes por tipo de veículo, agrupados por faixa etária do motorista?
* Qual é o número total de acidentes que ocorreram durante o dia e envolveram uma colisão entre veículos ?
* Qual é o número de acidentes por dia da semana, onde pelo menos uma pessoa envolvida no acidente tinha idade entre 31 e 50 anos?
* Qual é a média de vítimas em acidentes que ocorreram em áreas residenciais?
* Quais são os tipos de acidente mais comuns em áreas industriais ?
* Existem duplicadas na sua tabela? Se sim quantas linhas?
* Qual é a contagem de acidentes por sexo da vítima, onde a gravidade do acidente é 'Slight Injury' e a vítima estava atravessando a rua?

# League of Legends 10 minutes
* Quantos jogos resultaram em vitória para o time azul e quantos em derrota?
* Qual é o número médio de assistências por jogo, agrupado pelo resultado da partida?
* Qual é a diferença média de ouro entre os jogos em que o time azul venceu e os jogos em que o time azul perdeu?
* Quantos jogos tiveram a primeira eliminação feita pelo time azul e quantos pelo time vermelho?
* Qual é o total de torres destruídas pelo time azul em cada jogo, agrupado pelo resultado da partida?
* Qual é a média de experiência do time azul em jogos em que o time azul venceu, agrupada pela presença ou não do Heraldo?
* Qual é o número médio de abates pelo time azul em jogos em que o time azul perdeu, agrupado pelo número de dragões conquistados pelo time azul?
* Qual é o jogo com a maior diferença de ouro entre os times azul e vermelho?
* Qual é a média de torres destruídas pelo time azul em jogos em que o time azul venceu, agrupada pelo número de monstros de elite mortos pelo time azul?
* Existem duplicadas na sua tabela? Se sim quantas linhas?

# Musica
* Quantos respondentes usam o Spotify como seu serviço de streaming principal?
* Qual é a média de horas por dia que os respondentes passam ouvindo música enquanto trabalham, agrupados por seu serviço de streaming principal?
* Qual é a frequência média de ouvir música clássica entre os respondentes que relatam ansiedade, agrupados por seu serviço de streaming principal?
* Quais são os gêneros musicais favoritos mais comuns entre os respondentes que relatam insônia?
* Qual é a média de horas por dia que os respondentes passam ouvindo música enquanto trabalham, agrupados por sua faixa etária?
* Qual é a frequência média de ouvir música country entre os respondentes que relatam depressão e têm menos de 30 anos?
Quantos respondentes relatam ouvir música EDM "Muito frequentemente" e também têm mais de 60 anos?
* Qual é o gênero musical favorito mais comum entre os respondentes que relatam tocar um instrumento musical?
* Qual é a média de horas por dia que os respondentes passam ouvindo música enquanto trabalham, agrupados por se eles são ou não instrumentistas?
* Qual é a frequência média de ouvir música pop entre os respondentes que relatam ouvir música "Raramente" exploratória?

# Doenças e Sintomas
* Quantos tipos distintos de doenças estão presentes na tabela?
* Qual é a doença mais comum na tabela e quantas ocorrências dela existem?
* Quais são os sintomas mais comuns de todas as doenças listadas na tabela?
* Quantas vezes o sintoma "itching" aparece na tabela?
* Quantas doenças diferentes apresentam o sintoma "skin_rash"?
* Qual é a média de sintomas por doença na tabela?
* Quais são as três doenças com o maior número de sintomas distintos?
* Quantas doenças têm mais de 10 sintomas listados?
* Qual é a doença com o menor número de sintomas listados?
* Quantas doenças diferentes têm exatamente 10 sintomas listados?

# Credit Score
* Quantos clientes únicos estão presentes na tabela?
* Qual é o país com o maior número de clientes na tabela?
* Quantos clientes do sexo masculino existem na tabela?
* Qual é a média de idade dos clientes na tabela?
* Qual é o saldo médio dos clientes que são membros ativos?
* Quantos clientes estão inativos e têm um cartão de crédito?
* Qual é o número médio de produtos por país?
* Quantos clientes de cada país estão propensos a cancelar o serviço (churn)?
* Qual é o saldo total por país?
* Quais são os países onde a média de saldo é maior do que a média geral de saldo de todos os clientes?

# League of Legends Season
* Quantos campeões únicos estão presentes na tabela?
* Qual é o tier mais comum entre os campeões?
* Qual é a média de pontuação dos campeões por função?
* Qual é a média de KDA dos campeões por classe?
* Qual é o tier médio dos campeões por função?
* Qual é o número total de campeões por temporada (season)?
* Qual é o tier médio dos campeões por função apenas para as funções com mais de 50% de vitórias?
* Quantos campeões têm uma taxa de vitória superior a 50%?
* Qual é a função mais escolhida pelos jogadores?
* Qual é a função com a maior média de pontuação?

# FIFA
* Quantas partidas únicas foram disputadas?
* Qual é a média de gols marcados pelas equipes da casa por partida?
* Qual é a média de gols marcados pelas equipes visitantes por partida?
* Qual é a média de gols marcados por partida em torneios de qualificação para a Copa do Mundo?
* Qual é o continente com a média mais alta de gols marcados por partida?
* Qual foi o torneio com a maior média de gols marcados por partida?
* Quantas vezes a equipe da casa ganhou, perdeu ou empatou?
* Qual é a média de gols marcados pelas equipes da casa por partida apenas em amistosos?
* Qual é o país que teve o maior número de partidas neutras?
* Qual é a média de gols marcados pelas equipes visitantes por partida em partidas neutras?